extends ../layout


block content
  h1= title
  form(method='post', action='/tasks')
    fieldset
      legend Add a new task
      div.clearfix
        label Task
        div.input
          input(name='task', class='xlarge')
      div.actions
        input(type='submit', value='Save', class='btn primary')
        button(type='reset', class='btn') Cancel
